@charset "utf-8";
/* CSS Document */
.titlebar {margin:auto; width:1200px; height:36px; padding-top:14px}
.titlebar_txt {height:26px; line-height:26px}
.titlebar_txt_icon {float:left; width:26px; height:26px; border-radius:13px; background:#0aa770; color:#fff; font-size:2px; text-align:center; font-family:'stylefont'}
.titlebar_txt_headline {float:left; padding:0 14px; font-size:18px}
.titlebar dl {height:9px; overflow:hidden}
.titlebar dl dt {float:left; width:108px; height:8px; border-bottom:#0aa770 1px solid; overflow:hidden}
.titlebar dl dd {float:right; width:1092px; height:8px; border-bottom:#ccc 1px solid; overflow:hidden}
.letterlist {margin:auto; width:1200px; padding-bottom:18px; overflow:hidden}
.letterlist_vessel {width:1200px; overflow:hidden; line-height:44px; text-align:center; padding:14px 0}
.letterlist_vessel a,.letterlist_vessel a:visited {display:inline-block; width:42px; height:42px; border-radius:21px; color:#999; background:#e2e2e2; text-align:center; font-size:16px; margin:0 1px}
.letterlist_vessel a:hover, .letterlist_vessel a:active {background:#0aa770; color:#fff}

.dancelist {margin:auto; width:1200px; padding-bottom:14px; overflow:hidden}
.dancelist_latter {float:left; width:57px; height:42px; text-align:right; line-height:42px}
.dancelist_latter span {display:inline-block; width:42px; height:42px; border-radius:21px; color:#999; background:#e2e2e2; text-align:center; font-size:16px}
.dancelist ul {float:left; width:1129px; padding-left:14px; overflow:hidden; font-size:14px}
.dancelist li {float:left; width:225px; height:36px}

.hotdance {margin:auto; width:1200px; overflow:hidden; padding-bottom:14px}
.hotdance_vessel {margin-left:-15px; width:1230px; overflow:hidden}
.hotdance_vessel dl {float:left; width:90px; height:; padding:18px 15px 0 15px}
.hotdance_vessel dt {width:90px; height:90px; background:#ccc url(../images/temp/t1.jpg) no-repeat; background-size:contain; border-radius:45px}
.hotdance_vessel dt a,.hotdance_vessel dt a:visited {display:inline-block; width:90px; height:90px; border-radius:45px}
.hotdance_vessel dt a:hover, .hotdance_vessel dt a:active {background:#000 url(../images/icon_play.png) no-repeat center center; filter: alpha(opacity=40); opacity: 0.4}
.hotdance_vessel dd {height:18px; line-height:18px; font-size:14px; padding-top:9px; text-align:center}